// // CSS sprite用

// @import _parts

// //スプライト背景用
// sprite-bg( $i_sprites, $i_ratio = 2 )

//   $x = $i_sprites[2] / $i_ratio
//   $y = $i_sprites[3] / $i_ratio
//   $width = $i_sprites[4] / $i_ratio
//   $height = $i_sprites[5] / $i_ratio
//   $total_width = $i_sprites[6] / $i_ratio
//   $total_height = $i_sprites[7] / $i_ratio

//   display block
//   width $width
//   height $height
//   background-image url( $i_sprites[8] )
//   background-repeat no-repeat
//   background-size $total_width $total_height
//   background-position $x $y
//   text-indent -9999px
//   overflow hidden

